body {
  display:flex;
  font-family:Roboto;
}
.header {
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
}
.left-links, .right-links {
  display:flex;
  list-style:none;
  gap:16 px;
  margin:0;
  padding:0;
}
